body {
  font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.3;
}

h1 {
  font-size: 60px;
}

h4 {
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
}

img {
  max-width: 70%;
  height: auto;
}

.btn {
  font-weight: bold;
  background-color: rgb(163, 163, 163);
}

.btn:hover {
  color: aliceblue;
  background-color: rgb(28, 25, 25);
}